@tailwind base;
@tailwind components;
@tailwind utilities;

:root {}

@media (prefers-color-scheme: dark) {
  :root {}
}

body {
  background: #030303;
}

.card_box:hover {
  left: 4px;
  bottom: 4px;
}

@layer utilities {
  .text-balance {
    /* text-wrap: balance; */
  }
}
